:host {
    --primary-color: #F55E25;
    /**JFB */
    --app-primary-color: #2E2E2E;
    --app-secondary-color: darkturquoise;
    --paper-input-container-input-color: #2E2E2E;
    --iron-icon-fill-color: gray;
    display: block;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
}

app-header {
    color: #fff;
    background-color: var(--app-primary-color);
}

app-header.hidden[hidden] {
    display: none;
}

app-header paper-icon-button {
    --paper-icon-button-ink-color: white;
}


/************************   Drawer gauche   *************************/

paper-icon-item:first-child {
    margin-top: 40px
}

paper-icon-item {
    margin-left: 10px;
}

.drawer-list paper-icon-item {
    width: 100%;
}

.drawer-list a {
    display: block;
    text-decoration: none;
    color: var(--app-secondary-color);
    line-height: 40px;
}

.drawer-list iron-icon {
    display: inline-block;
}

.drawer-list a.iron-selected {
    color: black;
    font-weight: bold;
}

.iconItem {
    color: #666;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
}

iron-selector a {
    text-decoration: none;
    color: #000;
}


/************************   PAPER   *************************/

paper-button.turquoise {
    background: darkturquoise;
    color: var(--app-primary-color);
    font-weight: bold;
}

paper-icon-button.logo {
    width: 250px;
    height: 121px;
}

paper-dialog {
    /*background: var(--paper-white-a200);*/
    background: #FAFAFA;
    color: var(--app-secondary-color);
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
}

@media (max-width: 600px) {
    paper-dialog {
        margin: 0;
    }
}


/************************   *****   *************************/

div.headerDialog {
    background: var(--app-secondary-color);
    color: white;
    width: 100%;
    height: 100px;
    text-align: center;
}